<div class="nav-container">
    <div class="logo-container">
        <img src="logo.png" class="logo" />
    </div>

    <nav class="nav-menu">
        <a href="#home">Home</a>
        <a href="#sobre">Sobre</a>
        <a href="#servicos">Serviços</a>
        <a href="#contato">Contato</a>
    </nav>
</div>
