/* Barra de navegação */
.navbar {
    background-color: #040404 !importante;

    padding: 10px;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* Menu responsivo para telas pequenas */
.navbar-toggler {
    background: transparent;
    border: none;
    color: white;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-collapse.show {
    display: block;
}

/* Media queries para telas pequenas */
@media (max-width: 767px) {
    .navbar-collapse {
        display: none;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 56px; /* Para ficar abaixo da barra de navegação */
        left: 0;
    }

    .navbar-collapse.show {
        display: block;
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        display: block;
    }
}